body{
	margin: 0;
	padding: 0;
 }
 
 nav{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	position: fixed;
 	left: 24%; 
 	z-index: 7;
 	top: 25px;
 }

 ul{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: row; 		
 }

 li{
 	width: 142px;
 	height: 27px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	margin: 3%;
 	font-size: 0.94em;
 	color: #00416d;
 	font-style: normal;
 	text-align: left;
 	line-height: 0.8em;
 	letter-spacing: 0em;
 	background-color: #fff;
 	border-radius: 25px;
 	border-style: solid;
    border-width: 1px;
} 
.inicio{
	display: none;
}   
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 26%;
	width: 62.37%;
	left: 16%;
	z-index: 2;
}


 header {
 	position: flex;
 	justify-content: center;
 	align-items: center;
 	top: 0;
}

.logofixa {	
	margin: 3%;
	width: 28%;
	height: 110px;	
	position: relative;
	left: 10%;
}

h2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row-wrap;
	font-size: 1.88em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
	position: relative;
	top: -60px;
}

.texto {
	font-size: 1.25em;
	color: #95989a;
	width: 39.76%;
	margin-left: 32.77%;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;	
}
.ação{
	position: relative;
	margin-top: 10%;
}

h3{
	font-size: 1.56em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
	position: absolute;
	top: 20%;
	left: 23%;	
}

.video-ensaio{
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	left: 23%;
	width: 25%;
	top: -2px; 
}

.apresentacao{
	font-size: 1.56em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;	
	left: 52%;
	top: -320px;
	position: relative;
	width: 31.77%;
	top: -327px;
}

.video-apresentacao{
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	left: 52%;
	top: -338px;
	width: 25%;
}


.video-apresentacao2{
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	left: 52%;
	top: -290px;
	width: 25%;
}


.caixa-transparente{
	width: 370px;
	height: 275px;
	background-color: black;
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
	position: relative;
	border-radius: 25px;
	left:73%;
	top: 500px;
	margin: -110px;
	z-index: 3;
}

.contato{
	font-size: 1.88em;
	color: #fff;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
	position: absolute;
	left: 74%;
	top: 590px;
	z-index: 4;

}

.email{
	font-size: 1.25em;
	color: #fff;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	position: absolute;
	left: 68.5%;
	top: 650px;
	z-index: 4;
}
.telefone{
	font-size: 1.10em;
	color: #fff;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	position: absolute;
	left: 68.5%;
	top: 685px;
	z-index: 4;
}

.logo2{
	width: 64px;
	border-radius: 50%;
	position: relative;
	left:29%;
	top: 620px;
	margin: 12px;
	z-index: 5;
}

.fundo{

	width: 100%;
	height: 100%;

}
.logofixa2 {	
	margin: 3%;
	width: 32%;
	height: 130px;	
	position: relative;
	left: 7%;
	top: 250px;
}

footer{
	position: relative;
	margin-top:  -400px;
}

@media (max-width:768px){
	li{
		margin: 1%;
	}
	.inico{
		display: block;
	}
}

