body {
	margin: 0;
	padding: 0;
 }

 * {
 	box-sizing: border-box;
 }

 nav{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	position: fixed;
 	left: 25%; 
 	z-index: 7;
 	top: 2%;	
 }

 nav ul {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: row;
 }

nav ul li {
	display: flex; 
	justify-content: center;
	align-items: center;
	list-style: none;
	color: #00416d;
	background-color: #fff;
	border-radius: 25px;
 	border-style: solid;
    border-width: 1px;
    width: 140px;
 	height: 30px;
 	margin: 3%;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header .logo{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 26%;
	width: 60%;
	z-index: 2;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#sobre{
	font-family: sourcesanspro-bold;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
}

#sobre h2{
	font-size: 1.88em;
}

#sobre p{
	width: 35%;
	font-size: 1.10em;
}

.logofixa{
	margin: 0;
	width: 28%;
	height: 110px;
	margin-right: 57.40%;
}

#ações{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.video-ação1{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	width: 39%;
	margin-top: 3%;
}

.video-ação1 h3{
	color: #95989a;
	font-size: 1.10em;
}

.video-ação1 p{
	width: 70%;
	color: #95989a;
	font-size: 0.87em;
	line-height: 1.20em;
	margin-top:  2%;	
}

.texto-ação{
	position: relative;
	right: 47%;
	top: 80px;
	color: #95989a;
	font-size: 1.88em;	
}

.logofixa2{
	margin: 0;
	width: 28%;
	height: 110px;	
	margin-right: 58.89%;
}

footer{
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 10%;
	background:url(Fotos/IMG_9511.JPG);
	background-size: cover;
	background-repeat:no-repeat;
	height: 100vh;
}

.logofixa3{
	position: absolute;
	margin: 0;
	width: 28%;
	height: 110px;	
	left: 7.3%;
	top: 3%;
}

.conteiner-footer{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.50);
	width: 30%;
	height: 40vh;
	right: 7.40%;
	top: 11.10%;
}

footer div h2{	
	color: #fff;
}

footer div p{
	width: 35%;
	color: #fff;
	font-weight: 900;
	margin-right: 25%;
	font-size: 1.0em;
	line-height: 2em;
}

.logofinal{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 60%;
}


.logo2{
	width: 80%;
	height: 80%;
}


@media (max-width: 500px){	
	nav{
		left: 1%;
	}

	ul{
		width: 110%;
		margin: 0;
		top: 200%;
		height: 40%;
		padding: 4%;
	}

	.video{
		width: 100%;
	}

	header .logo {
		position: relative;
	    width: 100%;
	}

	#sobre h2{
		position: relative;
		left: -30%;
		margin-top: 30%;
	}

	#sobre p {
		width: 90%;
	}

	.logofixa {
		display: none;
	}

	.logofixa2{
		display: none;
	}
	.logofixa3 {
		display: none;
	}
	.texto-ação{
		position: relative;
		left: 50%;
		top: 0.5vh;
	}
}








/*body {
	margin: 0;
	padding: 0;
 }

 * {
 	box-sizing: border-box;
 }
 
 nav {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	position: fixed;
 	left: 24%; 
 	z-index: 7;
 	top: 25px;
 }

 ul {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: row; 		
 }

 li {
 	width: 142px;
 	height: 27px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	margin: 3%;
 	font-size: 0.94em;
 	color: #00416d;
 	font-style: normal;
 	text-align: left;
 	line-height: 0.8em;
 	letter-spacing: 0em;
 	background-color: #fff;
 	border-radius: 25px;
 	border-style: solid;
    border-width: 1px;
} 

.inicio {
	display: none;
}  

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 26%;
	width: 62.37%;
	left: 16%;
	z-index: 2;
}


 header {
 	position: flex;
 	justify-content: center;
 	align-items: center;
 	top: 0;
}

.logofixa {	
	margin: 3%;
	width: 28%;
	height: 110px;	
	position: relative;
	left: 5%;
}
@media (min-width:768px){
	.logo{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row-wrap;
	font-size: 1.88em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
	position: relative;
	top: -60px;
}

.texto {
	font-size: 1.25em;
	color: #95989a;
	width: 39.76%;
	margin-left: 32.77%;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;	
}

.ação {
	position: relative;
	margin-top: 2%;
}

.ensaio {
	font-size: 1.56em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;
	position: absolute;
	top: 227%;
	left: 23%;	
}

.video-ensaio {
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	left: 23%;
	width: 25%;
	top: -2px; 
}

.apresentacao {
	font-size: 1.56em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.34em;
	letter-spacing: 0em;	
	left: 52%;
	top: -320px;
	position: relative;
	width: 31.77%;
	top: -327px;
}

.video-apresentacao {
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	left: 52%;
	top: -338px;
	width: 25%;
}


.video-apresentacao2 {
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	left: 52%;
	top: -290px;
	width: 25%;
}

.footer {
	background:url(Fotos/IMG_9511.JPG);

}

.fundo {
	width: 100%;
	height: 100%;
}

.logofixa2 {	
	margin: 3%;
	width: 32%;
	height: 115px;	
	position: relative;
	left: 3%;
	top: -900px;
}

.caixa-transparente {
	width: 370px;
	height: 275px;
	background-color: black;
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
	position: relative;
	border-radius: 25px;
	left:73%;
	top: -560px;
	margin: -110px;
	z-index: 3;
}

.contato {
	font-size: 1.88em;
	color: #fff;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
	position: absolute;
	left: 34%;
	top: -10px;
	z-index: 4;
}

.email {
	font-size: 1.25em;
	color: #fff;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	position: absolute;
	left: 14%;
	top: 60px;
	z-index: 4;
}

.telefone {
	font-size: 1.10em;
	color: #fff;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	position: absolute;
	left: 14%;
	top: 100px;
	z-index: 4;
}

.logo2 {
	width: 64px;
	border-radius: 50%;
	position: relative;
	left:10%;
	top: 150px;
	margin: 15px;
	z-index: 5;
}




@media (max-width:500px){
	.contaianer{
		max-width: 300px;
	}
	nav{
		left: -3%;
	
	}
	li{
		left: 40px;
		width: 130px;
		margin: 0;
		top: 200px;
		height: 40px;
	}
	.video{
		width: 800px;
	}
	.logo{
		width: 270px;
		left: 278px;
		top: 265px;
	}
	.texto{
		width: 300px;
		top: 2px;
		left: 2%;
	}
}*/