body {
	margin: 0;
	padding: 0;
}

/*
	consertar o footer
	consertar o menu
	consertar as fontes
*/

* {
 	box-sizing: border-box;
}

 nav{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	position: fixed;
 	left: 25%; 
 	z-index: 7;
 	top: 2%;	
 }
 nav ul {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: row;
 }

  @media (max-width: 620px){	
	header nav{
		left: 1%;
		width: 90%;
	}

	nav ul{
		width: 90%;
		height: 40%;
		padding: 3%;
	}
}

nav ul li {
	display: flex; 
	justify-content: center;
	align-items: center;
	list-style: none;
	color: #00416d;
	background-color: #fff;
	border-radius: 25px;
 	border-style: solid;
    border-width: 1px;
    width: 140px;
 	height: 30px;
 	margin: 5%;
 	font-family: 'Source Sans Pro', sans-serif;
 	font-size: 0.94em;
 	font-style: normal;
 	text-align: left;
 	line-height: 0.8em;
	letter-spacing: 0em;
}

@media (max-width: 620px){	
	nav ul li {
		margin: 1%;
	}
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header iframe {
	z-index: 2;
}

header .logo{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 127px;
	width: 62.37%;
	z-index: 2;
}

@media (max-width: 620px){	

	header .logo {
	    width: 80%;
	}
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#sobre{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #95989a;
	line-height: 1.61em;
	min-height: 100vh;
}

#sobre h2{
	font-size: 1.88em;
	font-style: normal;
	text-align: left;
	line-height: 1.61em;
	letter-spacing: 0em;
	font-family: 'source sans pro', sans-serif;
}

@media (max-width: 620px){	
	#sobre h2{
		align-self: flex-start;
		margin: 6%;
	}
}

#sobre p{
	width: 35%;
	font-size: 1.25em;
	font-style: normal;
	margin: 0.5em;
	text-align: left
	line-height: 1.07em;
	letter-spacing: 0em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;

}

@media (max-width: 620px){	
	#sobre p {
		width: 90%;
	}
}

.logofixa{
	margin: 0;
	width: 28%;
	height: 110px;
	position: fixed;
	top: 0;
	left: 0;
}
@media (max-width: 620px){	

	.logofixa {
		display: none;
	}

	.logofixa2{
		display: none;
	}
	.logofixa3 {
		display: none;
	}
}

#ações{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 10%;
	min-height: 100vh;
}

.texto-ação{
	color: #95989a;
	font-size: 1.88em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media (max-width: 620px){	

	#ações h2 {
		align-self: flex-start;
		margin: 4%;
	}
}
.video-ação1 {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	width: 30%;
	padding: 0.5em;
}

.videos {
	display: flex;
	justify-content: center;
}


@media (max-width: 640px) {
	.videos {
		flex-direction: column;
		width: 100%;
	}
}

	.video-ação1 iframe {
		width: 100%;
	}

@media (max-width: 640px) {
	.video-ação1 {
		width: 100%;
	}
}


.video-ação1 h3{
	color: #95989a;
	font-size: 1.10em;
}

@media (max-width: 640px) {
	.video-ação1 h3{
		font-size: 1.56em;
		color: #95989a;
		font-style: normal;
		text-align: left;
		line-height: 1.34em;
		letter-spacing: 0em;
		}
}

.video-ação1 p{
	width: 70%;
	color: #95989a;
	font-size: 0.87em;
	line-height: 1.20em;
	margin-top:  2%;	
}

footer{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background:url(Fotos/IMG_9511.JPG) no-repeat center center;
	background-size: cover;
	height: 100vh;
}

.conteiner-footer{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.50);
	width: 30%;
	height: 40vh;
	position: relative;
	right: 7%;
	margin-top: 14%;
}

@media (max-width: 620px){	

	.conteiner-footer{
		width: 70%;
		height: 50%;
		margin: 0;
		align-items: flex-start;
	}
}

footer div h2{	
	color: #fff;
}

footer div p{
	width: 35%;
	color: #fff;
	font-weight: 900;
	margin-right: 25%;
	font-size: 1.0em;
	line-height: 2em;
}

.logofinal{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 60%;
}

@media (max-width: 620px){	
	.logofinal{
			display: flex;
			justify-content: center;
			align-items: center;
		}

	.logo2{
		width: 80%;
		height: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}